.landing {
    padding-top:1.7em;
    &__article {
        &--1 {
            height: 500px;
            width: 100%;

            .elements {
                position: absolute;
                z-index: 1;
                margin-left: 7em;
                h1 {
                    padding-top: 3em;

                    color: $secondary_complement;
                }
                h2 {
                    padding-top: 2em;
                    color: $principal;
                }
                button{
                    margin-top:30px;
                }
            }

            img {
                position: relative;
                height: 100%;
                width: 100%;
            }
        }
        &--2 {
          

            .list{
                margin-left:2.4em;
                margin-top:5em;
                margin-bottom:5em;
                display: flex;
                flex-direction: row;

                li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left:4em;
                    width:26%;
                    
                    h2{
                        padding-top:1em;
                    }
                    p{
                        line-height: 24px;
                        padding-top:2em;
                    }
                }

            }




            p{
                text-align: center;
                
            }


        }
    }
}
