.nav {
	position: sticky;
	display: flex;
    flex-direction: row;
	justify-content: space-between;
    align-items: center;
	height: 60px;
	top: 0;
    margin-right:80px;
    margin-left:60px;
    margin-top:40px;

    &__logo{
        width:60%;
    }


    &__list{
        display: flex;
        flex-direction: row;
    }

    &__link{
        text-decoration: none;
        color:$green;
        padding-left:20px;
        
       
     
    }
}




