button{
    border-radius:19px;
    background-color: $orange;
    color:$secondary_complement;
    padding: 15px;
    font-family: Gill Sans, sans-serif;
    font-size:18px;
    color:$offwhite;
    border-style: none;
}

hr{
    width: 70%;
    margin-left:0px;
    border: 1px solid $secondary;
}