
span{
    font-family: 'Gill sans', sans-serif;
    font-weight: 100;
    font-size:18px;

}




h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size:35px;
}

h2{
    color:$secondary;
    font-family: 'Gill sans',sans-serif;
    font-weight: 600;
    font-size:18px;

}

p{
    color: $principal;
    font-family: 'Gill sans',sans-serif;
    font-weight: 400;

}

h5{
    font-family: 'Gill sans', sans-serif;
    font-weight: 500;
    color:$offwhite;
    font-size: 20px;

}
h6{
    font-family: 'Gill sans', sans-serif;
    font-weight: 500;
    color:$offwhite;
    font-size: 18px;
}