@import './reset';
@import './breakpoint';
@import './colors';
@import './typography';
@import './elements';
@import '../Components/Menu/menu';
@import '../Components/Footer/footer';
@import '../Pages/Landing/landing';
@import '../Pages/About/about';
@import '../Pages/Contact/contact';
@import '../Pages/Approach/approach';
@import '../Pages/Brands/brands';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face{
    font-family: Gill sans,sans-serif;
    src:  url('../Resources/Fonts/Gill\ Sans.otf');
    src:  url('../Resources/Fonts/Gill\ Sans.otf');

}

#app {
    font-family: Gill sans,sans-serif;
    
  }
