@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

span {
  font-family: 'Gill sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

h1 {
  color: #225749;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

h2 {
  color: #2B8B74;
  font-family: 'Gill sans',sans-serif;
  font-weight: 600;
  font-size: 18px;
}

p {
  color: #3E2727;
  font-family: 'Gill sans',sans-serif;
  font-weight: 400;
}

li {
  color: #3E2727;
  font-family: 'Gill sans',sans-serif;
  font-weight: 400;
}

h5 {
  font-family: 'Gill sans', sans-serif;
  font-weight: 500;
  color: #FBF3E7;
  font-size: 20px;
}

h6 {
  font-family: 'Gill sans', sans-serif;
  font-weight: 500;
  color: #FBF3E7;
  font-size: 18px;
}

label {
  font-family: 'Gill sans', sans-serif;
  color: #225749;
  font-weight: 500;
}

textarea {
  font-family: 'Gill sans', sans-serif;
  padding: 1em;
  border-color: #79B3A6;
  border-width: 2px;
  border-radius: 10px;
  min-height: 18em;
  background-color: white;
}

button {
  border-radius: 19px;
  background-color: #FFB783;
  color: #225749;
  padding: 15px;
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
  color: #FBF3E7;
  border-style: none;
}

button:after {
  background-color: blue;
}

button:active:after {
  background-color: blue;
}

button:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: #225749;
}

hr {
  width: 70%;
  margin-left: 0px;
  border: 1px solid #2B8B74;
}

input {
  border-color: #79B3A6;
  border-style: solid;
  border-radius: 10px;
  padding: 0.3em;
  min-height: 3em;
  width: 100%;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  top: 0;
  margin-right: 80px;
  margin-left: 60px;
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(360deg, rgba(255, 255, 255, 0), white);
  z-index: 2;
}

.nav__logo {
  width: 60%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__link {
  text-decoration: none;
  color: #66A999;
  margin-left: 20px;
  position: relative;
}

.nav__link :after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FFB783;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav__link :hover:after {
  width: 100%;
  left: 0;
}

.footer {
  height: 220px;
  width: 100%;
  background-color: #828387;
}

.footer__article {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__article--1 {
  margin-left: 120px;
  width: 25%;
}

.footer__article--1 img {
  width: 50%;
}

.footer__article--2 .footer__icons {
  margin-top: 30px;
}

.footer__article--2 .footer__icon {
  margin-left: 10px;
}

.footer__article--2 p {
  padding-top: 20px;
  line-height: 25px;
  font-weight: 200;
  font-size: 15px;
  color: #FBF3E7;
}

.footer__article--3 {
  margin-left: 180px;
}

.footer__article--3 h6 {
  padding-top: 10px;
}

.footer__article--3 p {
  padding-top: 10px;
  font-family: Gill sans,sans-serif;
  font-weight: 200;
  color: #FBF3E7;
}

.footer .copyright {
  margin-top: 2em;
  text-align: center;
  font-size: 10px;
  color: #FBF3E7;
  font-weight: 200;
}

.landing {
  padding-top: 1.7em;
}

.landing__article--1 {
  height: 500px;
  width: 100%;
}

.landing__article--1 .elements {
  position: absolute;
  z-index: 1;
  margin-left: 7em;
}

.landing__article--1 .elements h1 {
  padding-top: 3em;
  color: #225749;
}

.landing__article--1 .elements h2 {
  padding-top: 2em;
  color: #3E2727;
}

.landing__article--1 .elements button {
  margin-top: 30px;
}

.landing__article--1 img {
  position: relative;
  height: 100%;
  width: 100%;
}

.landing__article--2 .list {
  margin-left: 2.4em;
  margin-top: 5em;
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing__article--2 .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4em;
  width: 26%;
}

.landing__article--2 .list li h2 {
  padding-top: 1em;
}

.landing__article--2 .list li p {
  line-height: 24px;
  padding-top: 2em;
}

.landing__article--2 p {
  text-align: center;
}

.about {
  width: 100%;
  min-height: 110vh;
  height: 100%;
  margin-top: 5em;
  padding-left: 10em;
  position: relative;
}

.about--1 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about--1 .infocard {
  width: 35%;
}

.about--1 .infocard .subtitle {
  color: #3E2727;
  margin-top: 2em;
  font-weight: 500;
}

.about--1 .map {
  margin-left: 20em;
  width: 70%;
}

.about--1 .map .imgmap {
  width: 90%;
}

.about--1 .basic {
  position: absolute;
  top: 13em;
  left: -2em;
}

.about--1 .basic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about--1 .basic__list .li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.about--1 .basic__list .li .listimg {
  width: 6em;
}

.about--1 .basic__list .li .listp {
  margin-top: 1.4em;
  text-align: center;
}

.about--1 .basic__list .lihr {
  padding-top: 2em;
  width: 10%;
  height: 30%;
}

.about--1 .basic__list .lihr .listhr {
  border-top: 3px dashed #FFB783;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}

.about--1 .info {
  position: absolute;
  width: 80%;
  top: 33em;
}

.about--1 .info .infolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about--1 .info .infolist .vl {
  border-left: 2px solid #2B8B74;
  height: 8em;
  margin-right: 4em;
}

.about--1 .info .infolist__li {
  width: 80%;
  margin-right: 2em;
}

.about--1 .info .infolist__li .productlist {
  margin-top: 2em;
  list-style: disc inside;
}

.about--1 .info .infolist__li .productlist__li {
  margin-top: 0.5em;
}

.about--1 .info .infolist__li .p {
  margin-top: 2em;
}

.contact {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin-top: 5em;
  padding-left: 10em;
  position: relative;
}

.contact__line {
  width: 20%;
}

.contact__subtitle {
  margin-top: 2em;
  color: #3E2727;
  width: 40%;
}

.contact__btn {
  margin-left: 18em;
  margin-top: 2em;
}

.contact__logo {
  position: absolute;
  right: -100px;
  top: 80px;
  overflow: hidden;
  z-index: -1;
}

.contact__form {
  margin-top: 2em;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact__form--1 {
  width: 50%;
  margin-right: 5em;
}

.contact__form--1 .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.contact__form--1 .names__first {
  margin-right: 2em;
}

.contact__form--2 {
  width: 50%;
}

.contact__form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  width: 100%;
}

.contact__form .input__label {
  margin-bottom: 0.5em;
}

.approach {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin-top: 5em;
  padding-left: 10em;
  position: relative;
}

.approach--1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.approach--1 .infocard {
  width: 55%;
}

.approach--1 .infocard .title {
  line-height: 1.5em;
}

.approach--1 .infocard .subtitle {
  color: #3E2727;
  margin-top: 2em;
  font-weight: 500;
  width: 90%;
}

.approach--1 .infophoto {
  margin-left: 5em;
  width: 45%;
}

.approach--2 {
  margin-top: 5em;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.approach--2 .subsubtitle__line {
  width: 40%;
}

.approach--2 .listapproach {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.approach--2 .listapproach__li {
  width: 50%;
}

@font-face {
  font-family: Gill sans,sans-serif;
  src: url("../Resources/Fonts/Gill Sans.otf");
  src: url("../Resources/Fonts/Gill Sans.otf");
}

#app {
  font-family: Gill sans,sans-serif;
}
/*# sourceMappingURL=styles.css.map */