.contact {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin-top: 5em;
    padding-left: 10em;
    position: relative;
    &__line {
        width:20%;
    }
    &__subtitle {
        margin-top: 2em;
        color: $principal;
        width: 40%;
    }

    &__btn{


        margin-left:18em;
        
        margin-top:2em;
       
    }
    &__logo{
        position: absolute;
        right: -100px;
        top:80px;
        overflow: hidden;
        z-index: -1;
    }

    &__form {
        margin-top: 2em;
        width: 80%;
        display: flex;
        flex-direction: row;

        &--1 {
            width: 50%;
            margin-right: 5em;

            .names {
                display: flex;
                flex-direction: row;
                width: 100%;

                &__first {
                    margin-right: 2em;
                }
            }
        }

        &--2 {
            width: 50%;
        }

        .input {
            display: flex;
            flex-direction: column;
            margin-top: 2em;
            width:100%;

            &__label {
                margin-bottom: 0.5em;
            }
        }
    }
}
